:root {
    --background: rgb(255, 189, 179);
    --primary: #292929;
    --accent: #8b3030;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--primary);
    line-height: 1.6;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: var(--background);
}

h1, h2, h3 {
    color: var(--primary);
}

h2 {
    border-bottom: 1px solid var(--accent);
    padding-bottom: 5px;
    margin-top: 30px;
}

h3 {
    margin-bottom: 0;
}

ul {
    margin-top: 5px;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

img {
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    border-color: black;
    border: 2px solid var(--primary); 
    object-fit: cover;
}